$text-primary: #07000F;
$text-tertiary: rgba(7, 0, 15, 0.40);
$border-primary: rgba(7, 0, 15, 0.10);
$bg-accent: #0067FE;
$bg-neutral: rgba(2, 22, 45, 0.05);
$border-strong: #07000F;
$border-primary-hover: rgba(7, 0, 15, 0.40);
$stroke-grey: #E3E6E8;